.header {
    background-color: black;
    height: 80px;
    width: 100%;
    
}

.myName {
    margin-top: 5px;
    margin-left: 10px;
    color: white;
    display: inline-block;
    
}

.aboutMe {
    margin-top: 5px;
    margin-left: 10px;
    background-color: black;
    color: white;
    
    
}
.body {
    
    background-color:black;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:-1;

}
.info {
    padding-top: 200px;
    padding-left: 335px;
    background-color: black;
    color: white;
    width: 1050px;
}
a {
    color: white;
}

a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

.bg-danger {
    
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:-1;
}
.portfolio {
    color:black;
    padding-top: 150px;
    padding-left: 0px;
    text-align: center;
}