body {
    
    margin: 0 auto;
    background: white;
    color: #777777;
    background: url(../images/stripes-light.png)

}

header { 
    height: 77px;
    width: 100%;
    margin: 0px auto;
    background: #ffffff;
    
}
h1 { 
    position: fixed;
    margin: 0px;
    left: 267px;
    padding: 20px;
    display: inline-block;
    background: #4aaaa5;
    color: white;
}

nav {

    margin-top: 30px;
    float: right;
    
}
a {
    font-size: 18px;
    color: #777777;
    text-decoration: none;
    padding: 10px;
}

.me {
    background: #ffffff;
    width: 960px;
    margin: 20px auto;
    height: 400px;
}

h2 {
    display: inline-block;
    padding:  5px;
    clear: both;
    overflow: auto;
    color : #4aaaa5;
    margin: 10px 5px;
}

hr {
    width: 90%;
    margin: 10px 5px;
}

img {
    float: left;
    margin-right: 10px;
}



p {
    
    margin: 15px 5px;
    width: 900px;
}

#pic {
    margin: 15px;
}

footer {
    clear: both;
    overflow: auto;
    text-align: center;
    background: #777777;
    color: white;
    bottom: 0px;
    border-top: 3px solid #4aaaa5;
    height: 50px;
    
}

